/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/*END RESET */
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.hamburger {
    width: 26px;
    height: 20px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    visibility: hidden;
    margin-left: 0;
    margin-right: 0;
}

.hamburger-span::after {
    content: "";
    width: 22px;
    height: 3px;
    background-color: black;
    border-radius: 10px;
    float: left;
}

.hamburger-links {
    display: flex;
    align-items: center;
}

.hero__title {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.hero__subtitle {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 6.82px;
    color: #FFFFFF;
}

.hero__input {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    width: 500px;
    height: 65px;
    color: #fff;

}

.hero__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 108px;
}

.blue-search {
    visibility: hidden;
}

.btn {
    background-color: #5474FD;
    border: 2px solid #FFFFFF;
    width: 153px;
    height: 63px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #fff;

}

.customed-btn {
    padding-right: 18px;
    position: absolute;
    margin-left: 530px;
}

.hero {
    width: 1770px;
    height: 600px;
    background: url(../img/background.png) no-repeat center;
    width: 100%;
    padding-top: 250px;
}

.hero__scroll-down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.scroll {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #FFFFFF;
}

.arrow-down {
    width: 18px;
    height: 9px;
}

.search {
    position: relative;
    left: 67px;
}

.main-header {
    background-color: #5474FD;
}

.main-nav__links {
    float: right;
    margin-left: 465px;
}

.main-nav__links a {
    text-decoration: none;
    color: #fff;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-left: 11px;
}

.main-nav {
    padding: 20px;
}

.choose-us {
    background: url(../img/second-background.png) no-repeat center;
    width: 100%;
    height: 685px;

}

.choose-us__title {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.choose-us__text {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
    margin-bottom: 45px;
}

.choose {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(2,2fr);
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

.btn--purple {
    padding: 20px;
    border: none;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
}

.choose-us__content {
    margin-top: 211px;
}

.mountain {
    width: 350px;
    height: 220px;
    margin-left: 85px;
    margin-top: 10px;
}

.choose-us__images {
    margin-top: 211px;
}

.search-place {
    background-color: #333;
}

.shapes {
    position: absolute;
    margin-top: -65px;
    margin-left: 96px;
    width: 556px;
}

.places-text {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #E8E8E8;
}

.options {
    width: 60px;
    height: 59px;
}

.search-places__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 130px;
}

.search-places {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.spain {
    background: url(../img/house.png) no-repeat center;
    width: 100%;
    height: 700px;
}

.spain__content {
    width: 540px;
    height: 371px;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    position: absolute;
    margin-top: 229px;
    margin-left: 30px;
    padding: 30px;
}

.spain__subtitle {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 23px;
    color: #E8E8E8;
}

.spain__title {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 13px;
}

.spain__text {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #E8E8E8;
    margin-bottom: 46px;

}

.book-spain {
    background: url(../img/ocean.png) no-repeat center;
    width: 100%;
    height: 700px;
}

.book-spain__content {
    width: 540px;
    height: 371px;
    background: #232323;
    mix-blend-mode: normal;
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    position: absolute;
    margin-top: 229px;
    margin-left: 600px;
    padding: 30px;
}

.reviews {
    background: url(../img/man.png) no-repeat center;
    width: 100%;
    height: 700px;

}

.tourist {
    width: 445px;
    height: 284px;
}

.reviews__tourists {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
    color: #fff;
    text-align: center;
}

.tourists-thoughts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 179px;
    padding: 30px;
}

.tourists-text {
    background-color: #333;
    padding: 35px;
}

.text {
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #fff;
}

.tourist-name {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #fff;
}

.reviews__text {
    position: relative;
    top: 113px;
}

.footer__title {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 3.36px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.footer__text {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 1.6px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.main-footer {
    background-color: #232323;
}

.logos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer {
    padding: 50px;
    padding-top: 120px;

}

@media (max-width:767px) {
    .tourist {
        display: none;
    }

    .book-spain__content {
        width: 334px;
        height: 380px;
        margin-left: 34px;
    }

    .spain__content {
        width: 334px;
        height: 380px;
    }

    .choose-us__images {
        display: none;
    }

    .logo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-left: 50px;
    }

    .main-nav__links {
        display: none;
    }

    .btn,
    .search,
    .blue-search {
        display: none;
    }

    .hero__input {
        font-size: 13px;
        line-height: 0px;
        width: 226px;
        height: 57px;
        border-radius: 40px;
        letter-spacing: 0;

    }

    .hero__title {
        font-size: 38px;
    }

    .hero {
        height: 600px;
    }

    .choose {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .choose-us__content {
        margin-top: 171px;
        padding: 20px;
    }
        .hamburger {
            visibility: visible;
            margin-left: 4px;
        }
        .shapes{
            visibility: hidden;
        }
        .select-places{
            margin-bottom: 32px;
        }
        .search-places{
            margin-bottom: 32px;
        }
        .options{
            margin-bottom: 14px;
            margin-left: 77px;
        }
        .search-places__options{
            display: flex;
            padding: 80px;
            flex-direction: column;
        }
}

@media (min-width:768px) and (max-width:1024px) {
    .btn {
        display: none;
    }

    .logo img {
        width: 120px;
    }

    .hero__input {
        border-radius: 35px;
    }

    .choose {
        margin-left: 42px;
    }

    .mountain {
        margin-left: 0;
    }

    .book-spain__content {
        margin-left: 230px;
    }

    .tourist {
        display: none;
    }

    .tourists-text {
        width: 753px;
    }

    .hero {
        height: 655px;
    }

    .search {
        visibility: hidden;
    }
 .main-nav__links{
        margin-left: 168px;
 }
    .blue-search {
        visibility: visible;
        position: absolute;
        margin-left: 178px;
    }
  .shapes{
    position: absolute;
    margin-top: -54px;
    margin-left: 25px;
    width: 378px;
  }
}
