/* RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/*END RESET */
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.main-header {
    background-color: #5474FD;
}

.main-nav__links {
    float: right;
}

.main-nav__links a {
    text-decoration: none;
    color: #fff;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    margin-left: 11px;
}

.main-nav {
    padding: 20px;
}
.hero__title {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 11px;
}

.hero__subtitle {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 6.82px;
    color: #FFFFFF;
}

.hero__input {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    width: 500px;
    height: 65px;
    color: #fff;

}

.hero__form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 108px;
}

.blue-search {
    visibility: hidden;
}

.btn {
    background-color: #5474FD;
    border: 2px solid #FFFFFF;
    width: 153px;
    height: 63px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: #fff;

}

.customed-btn {
    padding-right: 18px;
    position: absolute;
    margin-left: 530px;
}

.hero {
    width: 1770px;
    height: auto;
    background: url(../img/background.png) no-repeat center;
    width: 100%;
    padding-top: 250px;
}

.hero__scroll-down {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scroll {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 2.8px;
    color: #FFFFFF;
}

.arrow-down {
    width: 18px;
    height: 9px;
}

.search {
    position: relative;
    left: 67px;
}